.tableContainer table {
    border-spacing: 0px;
}
.tableContainer table.bigTable > tbody > tr > td {
    width: 35px;
    height: 35px;
    text-align: center;
}
.tableContainer table.bigTable > tbody > tr > td {
    border: solid;
    border-width: 1px;
    border-top: none;
    border-left: none;
}
/* Get rid of the border on the first row */
.tableContainer table.bigTable tr:first-child td{
    border-left: none;
    border-right: none;
}
/* Get rid of borders on the first column */
.tableContainer table.bigTable td:first-child{
    border-top: none;
    border-bottom: none;
}   
/* The column groups */
.tableContainer table.bigTable tr td:nth-child(3n+1){
    border-right-width: 2px;
}
/* The row groups */
.tableContainer table.bigTable tr:nth-child(3n+1) td{
    border-bottom-width: 2px;
}
.tableContainer table.smallTable > tbody > tr > td {
    border: none;
    font-size: 6pt;
}


.originalHint{
    background-color: lightblue;
}


@media(false){

    /* Get right of the top and left borders on the table */
    .tableContainer table {
        border-top: none;
        border-left: none;
    }

    /* The most right column... */
    .tableContainer table tr td:last-child{
        border-right-width: 2px;
    }
    /* The bottom row */
    .tableContainer table tr:last-child td{
        border-bottom-width: 2px;
    }



    
}